* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
section #input-field {
  height: 50vh;
  width: 40vw;
  border: 2px solid #292626;
  margin: 1rem;
}
section #result-field {
  height: 50vh;
  width: 40vw;
  border: 2px solid #292626;
  margin: 1rem;
}